* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: #b1b1b1;
  min-height: 100vh;
  background: linear-gradient(120deg, #2c2c2c, #1a1f2b);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 10em;
}

#rock,
#paper,
#scissors {
  border: 4px dashed #333;
  padding: 1rem;
  margin: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

H1,
#score {
  font-size: 38px;
  color: red;
  text-shadow: 0 0 8px red;
  background: #333;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px #333;
}

p,
a {
  text-decoration: none;
  font-size: 24px;
  color: #b1b1b1;
}

.clickable-img {
  width: 250px;
  height: auto;
}

#score {
  font-size: 28px;
}

.disabled-img {
  pointer-events: none;
  opacity: 0.5;
}
